.container {
  width: 100%;
  min-height: 100vh;

  .content {
    margin-top: 100px;
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
  }

  .sidenav {
    padding: 0 20px;
    background-color: whitesmoke;
    position: fixed;
  }
}
