
<div class="container">
  @for (patient of doctorlist; track $index) { @if ($index < 8) {
  <div class="card">
    <div class="content">
      <div class="back">
        <div class="back-content">
          <img
            src="http://localhost:8080/user/viewProPic?id={{ patient.id }}"
            alt=""
          />
          <strong>Dott. {{ patient.name }} {{ patient.surname }}</strong>
        </div>
      </div>
      <div class="front">
        <div class="img">
          <img
            src="http://localhost:8080/user/viewProPic?id={{ patient.id }}"
            alt=""
          />
        </div>
        <div class="front-content">
          <small class="badge"></small>
          <div class="description">
            <div class="title">
              <p class="title">
                <strong>{{ patient.name }} {{ patient.surname }}</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  } }
</div>
