<div class="container">
  <div class="img-contain">
    <img src="http://localhost:8080/user/viewProPic?id={{user.id}}" alt="Foto Utente">
  </div>
  
  <p>Email: {{ user.email }}</p>
  <p>Nome: {{user.registry.name}} {{user.registry.surname}}</p>
  <p>Genere: {{user.registry.gender}}</p>
  <p>Data di nascita: {{user.registry.birthDate}}</p>
  <p>Luogo di nascita: {{user.registry.birthPlace}}</p>
  <p>Citta: {{user.registry.city}}</p>
  <p>Indirizzo: {{user.registry.address}}</p>
  <p>Nazionalita: {{user.registry.nationality}}</p>
  <p>Codice Fiscale: {{user.registry.cf}}</p>
  <p>Gruppo Sanguigno: {{user.registry.bg}}</p>
</div>
