<body>
  <div class="image-container">
    <img
      src="../../../assets/img/sasun-bughdaryan-RlIppR1I3E8-unsplash.jpg"
      class="image"
      alt="Immagine Home"
    />
    <div></div>
    <div class="overlay-text">
      <h2 class="header">
        <span>Health</span>
        <img
          src="../../../assets/img/healthcheck-logo-zip-file/healthcheck-favicon-color.png"
          alt="Image description"
        />
        <span>Check</span>
      </h2>
      <p>
        Benvenuto nel nostro innovativo gestionale medico online, progettato per
        migliorare la comunicazione tra pazienti e dottori. Con il nostro
        sistema intuitivo, i pazienti possono facilmente caricare i propri
        referti medici in un ambiente sicuro e i dottori possono accedervi in
        modo rapido ed efficiente.
      </p>
      <button class="btn btn-primary" ng-click="submitForm()">
        <a routerLink="/landing/login" class="login-btn">Accedi</a>
      </button>
    </div>
  </div>
</body>
