.wrap {
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 20%);
  margin-bottom: 2em;

  h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 40px;
  }
  .contain {
    width: 80vw;
    height: 50vh;
    display: flex;
    margin: 0 0 4em;

    .image {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
        object-fit: contain;
        border-radius: 50%;
        box-shadow: 6px 6px 40px rgb(0, 0, 0, 20%);
      }
    }

    .contain-text {
      width: 120%;
      height: 120%;
      display: flex;
      align-items: left;
      margin: 2em 0;

      .text {
        p {
          display: flex;
          align-self: flex-end;
          color: #77d4fc;
          font-weight: bold;
          font-size: 40px;
          padding: 0;
          margin: 2em 0.8em 0;

          span {
            color: black;
            font-size: 1.2em;
          }
        }
      }
    }
    .description {
      color: #676767;
      width: 85%;
      top: 30%;
      display: flex;
      margin: 2em 2em 0;
    }
  }
}

.contain-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    width: 100%;

    .contain-input {
      margin-bottom: 0.5em;
      display: flex;
      flex-direction: column;
      width: 100%;
      
    }
    .split-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
      width: 100%;
    }
    .split-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
      width: 100%;
    }
    .split-2-5 {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 1em;
      width: 100%;
    }

    .foto {
      display: flex;
      justify-content: center;
      margin: 1em 0;
    }
    .btn {
      width: 100%;
      display: flex;
      justify-content: center;
      p-button {
        width: 100%;
      }
    }
  }
}

p-tabPanel {
  display: flex;
  margin-bottom: 0.5em;
  &:nth-child(2),
  &:nth-child(3) {
    justify-content: center;
    align-items: center;
  }
}

span {
  font-weight: bold;
}
.container-form {
  display: flex;
  height: 30%;
  width: 100%;
}
p-button {
  display: flex;
  margin: 1em 1em 0 0;
}

.logo {
  img {
    display: flex;
    height: 15%;
    width: 15%;
  }
}
.container-update {
  span {
    position: absolute;
    display: flex;
    width: 50%;
    left: 25%;
    top: 73%;
    font-weight: bold;
  }
  p {
    position: absolute;
    display: flex;
    width: 50%;
    left: 25%;
    top: 75%;
  }
}

@media (min-width: 400px) and (max-width: 620px) {
  .wrap {
    .contain {
      width: 90vw;
      height: 60vh;
      display: flex;
      margin: 0 0 4em;

      .image {
   
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1.5em;
        margin-right: 0em;
        img {
          width: 150%;
          height: 30%;
          object-fit:cover ;
          border-radius: 50%;
          box-shadow: 6px 6px 40px rgb(0, 0, 0, 20%);
        }
      }
    }
    .contain-text {
      p {
        font-size: 20px;
      }
    }
    .container-update {
      span {
        display: flex;
        top: 104vh;
      }
      p {
        margin: 0 0 0.5em 0;
        display: flex;
        position: right;
        font-size: 15px;
        top: 107vh;
        width: 60vw;
      }
    }
  }
}
