<section class="section_form">
  <form
    id="consultation-form"
    class="feed-form"
    #formReset="ngForm"
    (submit)="onSubmit()"
  >
    <input
      required
      placeholder="Password Provvisoria"
      type="text"
      [(ngModel)]="model.oldPassword"
      #oldPass="ngModel"
      name="oldPassword"
      id="oldPassword"
    />
    <input
      required
      placeholder="Nuova Password"
      type="text"
      pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*])(?=.*[0-9]).{8,}$"
      [(ngModel)]="model.newPassword"
      #newPass2="ngModel"
      name="newPassword"
      id="newPassword"
    />
    @if (newPass2.hasError('pattern')) {
      <mat-error
        >Minimo 8 caratteri, almeno un numero, una lettera maiuscola e un
        carattere speciale</mat-error
      >
      }
    @if (errorMessage) {
    <mat-error class="err">{{ errorMessage }}</mat-error>
    }
    <button mat-button class="button_submit" [disabled]="!formReset.valid">
      Reimposta
    </button>
  </form>
</section>
