<div class="image-container">
  <img
    src="../../../assets/img/medical-banner-with-doctor-holding-vial.jpg"
    class="image"
    alt="Immagine Home"
  />
  <div>
    <div class="overlay-text">
      <h2 class="header"><span>Perchè Scegliere Noi?</span></h2>
      <p>
        Il nostro gestionale medico online mira a rendere la gestione dei
        referti più efficiente e trasparente. Offriamo un ambiente sicuro,
        strumenti avanzati e un'interfaccia user-friendly per migliorare la
        collaborazione tra pazienti e dottori. Un passo avanti nell'evoluzione
        della cura medica.
      </p>
    </div>
    <div class="image-container1">
      <img
        src="../../../assets/img/healthcheck-logo-zip-file/png/logo-no-background.png"
        class="image"
        alt="Logo"
      />
      <div></div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-card-subtitle>Analisi del Sangue</mat-card-subtitle>
          </p>
          <div class="overlay-text2">
            <p>
              Un'analisi del sangue valuta parametri chimici, cellulari e
              fisiologici del sangue per diagnosticare condizioni mediche.
            </p>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card2">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image2"></div>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-card-subtitle>Analisi delle urine</mat-card-subtitle>
          </p>
          <div class="overlay-text2">
            <p>
              L'analisi delle urine valuta la composizione chimica e la presenza
              di sostanze anormali nell'urina, diagnosticando condizioni
              mediche.
            </p>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card3">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image3"></div>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-card-subtitle>ECG</mat-card-subtitle>
          </p>
          <div class="overlay-text2">
            <p>
              L'ECG (Elettrocardiogramma) registra l'attività elettrica del
              cuore, identificando anomalie e valutando la salute cardiaca.
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
